{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Добавление документа{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/thirdparty/select2/select2.css">
    <link rel="stylesheet" href="/static/thirdparty/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/static/thirdparty/select2/select2.js"></script>
{% endblock %}

{% block initscript %}
    $("select").select2();
    $("#{{ form.date.id_for_label }}")
        .attr('type', 'hidden')
        .attr('id', '{{ form.date.id_for_label }}_alt')
        .after('<input type="text" id="{{ form.date.id_for_label }}" class="form-control" value="">');
    $("#{{ form.date.id_for_label }}").datepicker({
        altField: '#{{ form.date.id_for_label }}_alt',
        altFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 3,
        dateFormat: "dd.mm.yy",
        showCurrentAtPos: 2
    });
{% endblock %}

{% block content %}
    <div class="panel panel-primary" style="max-width:800px; margin: 0 auto;">
        <div class="panel-heading">
            Добавление документа
        </div>
        <div class="panel-body">
            <form action="{% url 'add_document' %}" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <table class="table">
                    {% for field in form %}
                        <tr>
                            <th style="width:150px;"><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                            <td>
                                {{ field|attr:"class:form-control" }}
                            </td>
                        </tr>
                        {% if field.errors %}
                        <tr><td colspan="2" class="error" style="border-top: none;"><div class="alert alert-danger">
                            {{ field.errors }}
                        </div></td></tr>
                        {% endif %}
                    {% endfor %}
                    <tr><td></td><td>
                        <input type="submit" value="Добавить документ" class="btn btn-primary">
                    </td></tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
