{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Документ №{{ document.pk }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/thirdparty/select2/select2.css">
    <link rel="stylesheet" href="/static/thirdparty/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="/static/thirdparty/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/static/thirdparty/jquery-file-upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/css/manage_document.css">
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/static/thirdparty/select2/select2.js"></script>
    <script src="/static/thirdparty/fancybox/jquery.fancybox.js"></script>
    <script src="/static/thirdparty/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/static/thirdparty/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="/static/thirdparty/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="/static/js/ManageDocumentHelper.js"></script>
    <script src="/static/js/SemiEditableField.js"></script>
    <script src="/static/js/CollectionField.js"></script>
{% endblock %}

{% block initscript %}
    ManageDocumentsHelper.apiUpdateDocumentUrl = "{% url 'api_update_document' document.pk %}";
    ManageDocumentsHelper.apiUploadScanUrl = "{% url 'api_add_document_scan' document.pk %}";
    ManageDocumentsHelper.apiUploadFileUrl = "{% url 'api_add_document_file' document.pk %}";
    ManageDocumentsHelper.apiAddActionUrl = "{% url 'api_add_document_action' document.pk %}";
    $(function(){
        $('.fancybox').fancybox({
            openEffect	: 'elastic',
            closeEffect	: 'elastic'
        });
    });
{% endblock %}

{% block content %}
    <header>
        <h2>Документ №{{ document.pk }}</h2>
    </header>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary" id="panel-fields">
                <div class="panel-heading">
                    Информация о документе
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th style="width:200px;">{{ form.date.label }}<br><small class="edit-field" id="edit-date">Изменить</small><small>&nbsp;</small></th><td>
                                <span class="semi-editable" id="field-date">{{ document.date }}</span>
                                <input type="text" value="{{ form.date.value }}" class="nodisplay form-control" autocomplete="off">
                                {{ form.date|attr:"class:nodisplay"|attr:"autocomplete:off"|attr:"type:hidden" }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.tags.label }}<br><small class="edit-field" id="edit-tags">Изменить</small><small>&nbsp;</small></th><td>
                                <div class="semi-editable" id="field-tags">
                                    <ul class="tags">
                                        {% for tag in document.tags.all %}
                                            <li>{{ tag }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {{ form.tags|attr:"class:nodisplay"|attr:"autocomplete:off"|attr:"type:hidden" }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.storage.label }}<br><small class="edit-field" id="edit-storage">Изменить</small><small>&nbsp;</small></th><td>
                                <span class="semi-editable" id="field-storage">{{ document.storage }}</span>
                                {{ form.storage|attr:"class:nodisplay form-control"|attr:"autocomplete:off" }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.expired.label }}<br><small class="edit-field" id="edit-expired">Изменить</small><small>&nbsp;</small></th><td>
                                <span class="semi-editable" id="field-expired">{% if document.expired %}Да{% else %}Нет{% endif %}</span>
                                {{ form.expired|attr:"class:nodisplay form-control"|attr:"autocomplete:off" }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.notes.label }}<br><small class="edit-field" id="edit-notes">Изменить</small><small>&nbsp;</small></th><td>
                                <span class="semi-editable" id="field-notes" style="white-space: pre-wrap;">{{ document.notes }}</span>
                                {{ form.notes|attr:"class:nodisplay form-control"|attr:"autocomplete:off" }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="panel-files">
                <div class="panel-heading">
                    Файлы
                </div>
                <div class="panel-body">
                    <ul id="field-files">
                        {% for file in document.files %}
                            <li data-id="{{ file.pk }}">
                                <div class="alert alert-info wrapper">
                                    <div class="icon delete delete-button"><span class="glyphicon glyphicon-remove"></span></div>
                                    <div class="icon edit edit-button"><span class="glyphicon glyphicon-pencil"></span></div>
                                    <div class="icon restore delete-button"><span class="glyphicon glyphicon-share-alt"></span></div>
                                    <div class="extension">{{ file.extension }}</div>
                                    <a href="{{ file.get_file_url }}">{{ file.comment }}</a>
                                    <div class="modifier">
                                        <input type="text" class="form-control nodisplay" autocomplete="off" value="{{ file.comment|escape }}">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="alert fileinput-button add-files-button">
                        <div class="plus"><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="loader-text">Добавить новый файл</div>
                        <input id="add-files" type="file" name="file" multiple>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary panel" id="panel-scans" style="min-width: 500px;">
                <div class="panel-heading">
                    Сканы документа
                </div>
                <div class="panel-body">
                    <ul id="field-scans">
                        {% for image in document.scans.all %}
                            <li data-id="{{ image.pk }}" class="scan-block">
                                <div class="delete-button"></div>
                                <a class="fancybox" style="background-image: url('{{ image.get_thumbnail_url }}')" href="{{ image.get_image_url }}"></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="fileinput-button scan-block add-scans-button">
                        <span class="loader-text">&plus;</span>
                        <input id="add-scans" type="file" name="file" multiple>
                    </div>
                    <div class="clearfix"></div>
                    {% if document.scans|length > 0 %}
                        <a href="{% url 'get_documents_scans_as_pdf' document.pk %}">Скачать PDF</a>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-primary panel" id="panel-actions" style="min-width: 500px;">
                <div class="panel-heading">
                    Запланированные действия
                </div>
                <div class="panel-body">
                    <ul id="field-actions">
                        {% for action in document.actions.all %}
                            <li data-id="{{ action.pk }}">
                                <div class="alert alert-info wrapper">
                                    <div class="icon delete delete-button"><span class="glyphicon glyphicon-remove"></span></div>
                                    <div class="icon edit edit-button"><span class="glyphicon glyphicon-pencil"></span></div>
                                    <div class="icon restore delete-button"><span class="glyphicon glyphicon-share-alt"></span></div>
                                    <div class="reader">
                                        <div class="date">{{ action.date }}</div>
                                        <span class="comment">{{ action.comment }}</span>
                                    </div>
                                    <div class="modifier nodisplay">
                                        <table style="width:100%;">
                                            <tr><td>
                                                <input type="text" class="form-control" autocomplete="off" data-name="comment" value="{{ action.comment|escape }}">
                                            </td><td style="width: 100px;">
                                                <input type="text" class="form-control" autocomplete="off" data-name="date" value="{{ action.date }}">
                                                <input type="hidden">
                                            </td><td style="width: 100px; padding-left:10px;">
                                                <button style="width:100%" class="btn btn-success">Готово</button>
                                            </td></tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="alert add-action-form">
                        <h4>Добавить действие</h4><br>
                        <input type="text" id="new-action-comment" placeholder="Описание" class="form-control"><br>
                        <input type="text" id="new-action-date" placeholder="Дата" data-type="date" class="form-control"><br>
                        <input id="new-action-date-alt" type="hidden">
                        <button class="btn btn-success" id="add-action">Добавить</button>
                        <span id="add-action-loader" class="nodisplay">Добавляю ...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button id="submitButton" class="btn btn-success" style="display:none">Сохранить</button>
    <span id="loader" class="nodisplay">Сохраняю...</span>
    <br><br><br>
{% endblock %}