{% extends 'base.html' %}

{% load widget_tweaks %}
{% load string_tools %}

{% block title %}Поиск по документам{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/thirdparty/select2/select2.css">
    <link rel="stylesheet" href="/static/thirdparty/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/search_documents.css">
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/static/thirdparty/select2/select2.js"></script>
    <script src="/static/thirdparty/tablesorter/jquery.tablesorter.min.js"></script>
    <script src="/static/js/SearchDocumentsHelper.js"></script>
{% endblock %}

{% block initscript %}
    SearchDocumentsHelper.apiSearchDocumentsUrl = "{% url 'api_search_documents' %}";
    $(function(){
        $("#search-results").tablesorter({
            textExtraction: function(x) {
                var e = $(x);
                return e.data('sortable') ? e.data('sortable') : e.text();
            },
            cssChildRow: "tags-row"
        });
    });
    $("select").select2();
{% endblock %}

{% block content %}
    <header>
        <h2>Поиск по документам</h2>
    </header>
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Параметры поиска
                </div>
                <div class="panel-body">
                    <form method="POST" id="search-form">
                        {% csrf_token %}
                        <table class="table" id="search-table">
                            {% for field in form %}
                                <tr class="search-label"><th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th></tr>
                                <tr><td>{{ field|attr:"class:form-control search-field" }}</td></tr>
                                {% if field.errors %}
                                    <tr><td colspan="2" class="error" style="border-top: none;"><div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div></td></tr>
                                {% endif %}
                            {% endfor %}
                            <tr><td>
                                <input type="submit" value="Искать" class="btn btn-primary">
                            </td></tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Результаты поиска
                </div>
                <div class="panel-body">
                    <table id="search-results" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Дата</th>
                                <th>Комментарий</th>
                                <th>Местоположение</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in documents %}
                                <tr data-id="{{ doc.pk }}" data-href="{% url 'manage_document' doc.pk %}" class="search-results-row">
                                    <td>{{ doc.pk }}</td>
                                    <td data-sortable="{{ doc.date|date:"Y-m-d" }}">{{ doc.date }}</td>
                                    <td>{{ doc.notes|shorten }}</td>
                                    <td>{{ doc.storage|shorten }}</td>
                                </tr>
                                <tr class="search-results-row tags-row" style="border-top:none">
                                    <td></td>
                                    <td class="tags" colspan="3"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="templates" style="display:none">
        <table>
            <tr class="search-results-row">
                <td class="pk"></td>
                <td class="date"></td>
                <td class="notes"></td>
                <td class="storage"></td>
            </tr>
            <tr class="search-results-row tags-row" style="border-top:none">
                <td></td>
                <td class="tags" colspan="3"></td>
            </tr>
        </table>
    </div>
{% endblock %}
