{% extends 'base.html' %}

{% load widget_tweaks %}
{% load string_tools %}

{% block title %}Поиск по документам{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/thirdparty/select2/select2.css">
    <link rel="stylesheet" href="/static/thirdparty/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/upcoming_actions.css">
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/static/thirdparty/tablesorter/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block initscript %}
    $(function(){
        $('table').tablesorter({
            textExtraction: function(x) {
                var e = $(x);
                return e.data('sortable') ? e.data('sortable') : e.text();
            }
        });
    });
    $('table').on('click', 'tr', function() {
        window.location.href = $(this).data('href');
    });
{% endblock %}

{% block content %}
    <header>
        <h2>Запланированные действия</h2>
    </header>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Просрочено
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Дата действия</th>
                                <th>Действие</th>
                                <th>Комментарий к документу</th>
                                <th>Дата документа</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for action in overdue_actions %}
                                <tr data-id="{{ action.document.pk }}" data-href="{% url 'manage_document' action.document.pk %}">
                                    <td data-sortable="{{ action.date|date:"Y-m-d" }}">{{ action.date }}</td>
                                    <td>{{ action.comment|shorten }}</td>
                                    <td>{{ action.document.notes|shorten }}</td>
                                    <td data-sortable="{{ action.document.date|date:"Y-m-d" }}">{{ action.document.date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Запланировано на ближайшую неделю
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Дата действия</th>
                                <th>Действие</th>
                                <th>Комментарий к документу</th>
                                <th>Дата документа</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for action in upcoming_actions %}
                                <tr data-id="{{ action.document.pk }}" data-href="{% url 'manage_document' action.document.pk %}">
                                    <td data-sortable="{{ action.date|date:"Y-m-d" }}">{{ action.date }}</td>
                                    <td>{{ action.comment|shorten }}</td>
                                    <td>{{ action.document.notes|shorten }}</td>
                                    <td data-sortable="{{ action.document.date|date:"Y-m-d" }}">{{ action.document.date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
