.heading {
  text-align: right;
  background-color: black;
  padding: 0;
  margin-bottom: 15px;
}
.heading h1 {
  background-color: white;
  display: inline-block;
  padding: 0 0 0 20px;
  margin: 0;
}
.heading ul {
  float: left;
  display: block;
  list-style-type: none;
}
.heading ul li {
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
}
.heading ul li a,
.heading ul li a:hover,
.heading ul li a:active,
.heading ul li a:visited {
  color: #fff;
  margin: 0 0 0 40px;
}
.panel-heading {
  font-weight: bold;
}
input[type=checkbox] {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
}
ul.tags {
  padding-left: 0;
  line-height: 30px;
  margin: 0;
}
ul.tags li {
  display: inline;
  border: 1px solid #faebcc;
  background: #fcf8e3;
  color: #7f6536;
  font-weight: bold;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  padding: 2px 5px 2px 5px;
  margin: 0 5px 5px 0;
  white-space: nowrap;
}
