th {
  text-align: left;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul#field-scans {
  display: block;
  list-style-type: none;
  height: 0;
  margin: 0;
}
ul#field-scans li {
  position: relative;
}
ul#field-scans li a {
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: block;
}
ul#field-scans li .delete-button {
  position: absolute;
  right: -1px;
  top: 0;
  opacity: 1;
  background-color: #000;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  font-size: 15px;
  font-family: "Glyphicons Halflings";
  color: #f00;
  margin: 0 0 0 auto;
}
ul#field-scans li.deleted .delete-button {
  right: 0;
  width: 186px;
  height: 186px;
  font-size: 150px;
  line-height: 196px;
  opacity: 0.75;
}
ul#field-scans .modified {
  color: #468847;
  font-style: italic;
  font-weight: bold;
}
#panel-scans .loader-text {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 150px;
  line-height: 150px;
}
#panel-scans .loader-text.active {
  font-size: 50px;
  height: 50px;
  line-height: 50px;
}
.scan-block {
  display: block;
  float: left;
  width: 190px;
  height: 190px;
  border: 2px solid black;
  margin: 10px;
  cursor: pointer;
}
.add-scans-button {
  border: 2px dashed grey;
  color: grey;
  text-align: center;
  font-size: 150px;
}
.nodisplay {
  display: none;
}
.edit-field {
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.semi-editable.modified {
  font-weight: bold;
  color: #3c763d;
}
ul#field-actions .modifier {
  margin-right: 50px !important;
}
ul#field-files,
ul#field-actions {
  margin-bottom: 0;
}
ul#field-files li,
ul#field-actions li {
  padding-bottom: 10px;
}
ul#field-files li div.wrapper,
ul#field-actions li div.wrapper {
  font-weight: bold;
  margin-bottom: 0;
}
ul#field-files li div.wrapper a,
ul#field-actions li div.wrapper a,
ul#field-files li div.wrapper a:hover,
ul#field-actions li div.wrapper a:hover,
ul#field-files li div.wrapper a:visited,
ul#field-actions li div.wrapper a:visited,
ul#field-files li div.wrapper a:active,
ul#field-actions li div.wrapper a:active {
  color: inherit;
  text-decoration: underline;
}
ul#field-files li div.wrapper .modifier,
ul#field-actions li div.wrapper .modifier {
  margin: -7px 110px -7px -7px;
}
ul#field-files li div.wrapper .icon,
ul#field-actions li div.wrapper .icon {
  float: right;
  margin-left: 6px;
  cursor: pointer;
}
ul#field-files li div.wrapper .icon.restore,
ul#field-actions li div.wrapper .icon.restore {
  display: none;
}
ul#field-files li div.wrapper .extension,
ul#field-actions li div.wrapper .extension,
ul#field-files li div.wrapper .date,
ul#field-actions li div.wrapper .date {
  float: right;
  font-weight: normal;
  margin-right: 10px;
  text-transform: uppercase;
}
ul#field-files li.deleted div.wrapper,
ul#field-actions li.deleted div.wrapper {
  background-color: #f2dede !important;
  border: 1px solid #ebccd1 !important;
  color: #a94442 !important;
}
ul#field-files li.deleted div.wrapper .icon.delete,
ul#field-actions li.deleted div.wrapper .icon.delete {
  display: none;
}
ul#field-files li.deleted div.wrapper .icon.edit,
ul#field-actions li.deleted div.wrapper .icon.edit {
  display: none;
}
ul#field-files li.deleted div.wrapper .icon.restore,
ul#field-actions li.deleted div.wrapper .icon.restore {
  display: block;
  margin-left: 26px;
  transform: rotateY(180deg);
}
.add-files-button,
.add-action-button {
  border: 2px dashed gray;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.add-files-button .plus,
.add-action-button .plus {
  float: right;
  margin-left: 6px;
}
