@import "../thirdparty/bootstrap/variables.less";

@imgsize: 190px;

th {
  text-align: left;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul#field-scans {
  display: block;
  list-style-type: none;
  height: 0;
  margin: 0;
  li {
    position: relative;
    a {
      background-color: #fff;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      display: block;
    }
    .delete-button {
      position: absolute;
      right: -1px;
      top: 0;
      opacity: 1;
      background-color: #000;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 18px;
      font-size: 15px;
      font-family: "Glyphicons Halflings";
      color: #f00;
      margin: 0 0 0 auto;
    }
  }
  li.deleted {
    .delete-button {
      right: 0;
      width: @imgsize - 4px;
      height: @imgsize - 4px;
      font-size: 150px;
      line-height: 196px;
      opacity: 0.75;
    }
  }
  .modified {
    color: #468847;
    font-style: italic;
    font-weight: bold;
  }
}
#panel-scans .loader-text {
  display: block;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 150px;
  line-height: 150px;
}
#panel-scans .loader-text.active {
  font-size: 50px;
  height: 50px;
  line-height: 50px;
}
.scan-block {
  display: block;
  float: left;
  width: @imgsize;
  height: @imgsize;
  border: 2px solid black;
  margin : 10px;
  cursor: pointer;
}
.add-scans-button {
  border: 2px dashed grey;
  color: grey;
  text-align: center;
  font-size: 150px;
  //line-height: @imgsize;
}
.nodisplay {
  display: none;
}
.edit-field {
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.semi-editable.modified {
  font-weight: bold;
  color: @alert-success-text;
}
ul#field-actions .modifier {
  margin-right: 50px !important;
}
ul#field-files, ul#field-actions {
  margin-bottom: 0;
  li {
    padding-bottom: 10px;
    div.wrapper {
      font-weight: bold;
      margin-bottom: 0;
      a, a:hover, a:visited, a:active {
        color: inherit;
        text-decoration: underline;
      }
      .modifier {
        margin: -7px 110px -7px -7px;
      }
      .icon {
        float: right;
        margin-left: 6px;
        cursor: pointer;
      }
      .icon.restore {
        display: none;
      }
      .extension, .date {
        float: right;
        font-weight: normal;
        margin-right: 10px;
        text-transform: uppercase;
      }
    }
  }
  li.deleted div.wrapper {
    background-color: @alert-danger-bg !important;
    border: 1px solid @alert-danger-border !important;
    color: @alert-danger-text !important;
    .icon.delete {
      display: none;
    }
    .icon.edit {
      display: none;
    }
    .icon.restore {
      display: block;
      margin-left: 26px;
      transform: rotateY(180deg);
    }
  }
}
.add-files-button, .add-action-button {
  border:2px dashed gray;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  .plus {
    float:right;
    margin-left: 6px;
  }
}
