@import "../thirdparty/bootstrap/variables.less";

#search-table {
  td {
    border-top: none;
    position: relative;
  }
  .reset-date-button, .reset-date-button:hover, .reset-date-button:active, .reset-date-button:visited {
    right: 20px;
    top : 14px;
    position: absolute;
    text-decoration: none;
    border-bottom: 1px dashed @link-color;
  }
  input[type=checkbox] {
    width: 100% !important;
    height: 25px !important;
  }
}
#search-results {
  tr, th {
    cursor: pointer;
  }
  tr.expired {
    color: #600;
    font-style: italic;
  }
  tr.tags-row {
    td {
      border-top: none !important;
      margin-top: 0;
      padding-top: 0;
    }
  }
  tbody {
    tr:nth-child(4n+1), tr:nth-child(4n+2) {
      background-color: #f6f6f6;
    }
  }
}
