#search-table td {
  border-top: none;
  position: relative;
}
#search-table .reset-date-button,
#search-table .reset-date-button:hover,
#search-table .reset-date-button:active,
#search-table .reset-date-button:visited {
  right: 20px;
  top: 14px;
  position: absolute;
  text-decoration: none;
  border-bottom: 1px dashed #428bca;
}
#search-table input[type=checkbox] {
  width: 100% !important;
  height: 25px !important;
}
#search-results tr,
#search-results th {
  cursor: pointer;
}
#search-results tr.expired {
  color: #600;
  font-style: italic;
}
#search-results tr.tags-row td {
  border-top: none !important;
  margin-top: 0;
  padding-top: 0;
}
#search-results tbody tr:nth-child(4n+1),
#search-results tbody tr:nth-child(4n+2) {
  background-color: #f6f6f6;
}
