<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} — DocKeeper</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/thirdparty/bootstrap/bootstrap.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="wrapper container">
        <div class="heading">
            <ul class="list-unstyled">
                <li><a href="{% url 'search_documents' %}">Поиск по документам</a></li>
                <li><a href="{% url 'add_document' %}">Новый документ</a></li>
                <li><a href="{% url 'upcoming_actions' %}">Запланированные действия ({{ num_upcoming_actions }})</a></li>
            </ul>
            <h1>DocKeeper</h1>
        </div>
        {% block content %}{% endblock %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
    <script>
        window['csrf_token'] = '{{ csrf_token }}';
        {% block initscript %}{% endblock %}
    </script>
</body>
</html>
